p{
  font-size: 3em;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
  color:white;
  margin: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Morgan_Hall_of_Williams_College_in_the_fall_%2827_October_2010%29.jpg/290px-Morgan_Hall_of_Williams_College_in_the_fall_%2827_October_2010%29.jpg);
  background-size: 100% 100%;
}


h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color:black;
  font-weight: 100;
  font-size: 22px;
  padding-bottom: 0px;
  text-align: center;
  font-family: Georgia;
}


#introduction {
  margin-top: 0px;
}
table,th,td{
  border: 1px solid;
  border-color: black;
}
th{
   background-color: lightgreen;
}
